{% load static%}
<link rel="stylesheet" href="{% static 'css/contact.css'%}">
<div class="container-2">
    <h1>Contact Me</h1>
    <div class="email" id="emailid">
        <div class="box">
            <img src="{% static 'image/mail.png'%}">
        </div>
        <div class="box2">
            <h2>via e-mail</h2>
            <a href="mailto:mujiburrahman12161997@gmail.com">mujiburrahman12161997@gmail.com</a>
        </div>
        </div>
        <div class="phone" id="phoneid">
            <div class="box">
                <img src="{% static 'image/incoming-call.png'%}">
            </div>
            <div class="box2">
                <h2>via Phone</h2>
                <a href="https://api.whatsapp.com/send?phone=60193288778&text=">+60 19 - 3288 778</a>
            </div>
        </div>
</div>

