{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/portfolioStyle.css'%}">
<script src="https://cdn.jsdelivr.net/npm/vue"></script>

<div class="example-2 card">
    <div class="wrapper">
      <div class="data">
        <div class="content">
          <h1 class="title"><a href="https://citra-knowledge-base-system.herokuapp.com/Home/">CItra knowledge base system</a></h1>
          <p class="text">
            A web application that could recommend student what subject(CITRA subject only) they should register on the current semester
            or next semester.
          </p>
          <a href="https://citra-knowledge-base-system.herokuapp.com/Home/" class="button">Read more</a>
        </div>
      </div>
    </div>
  </div>



