.container-2{
    height: 500px;
    width:90%;
    display: grid;
    padding: 10px;
}

.email{
    display: grid;
    grid-template-columns: 150px auto;
    text-align: justify;
    margin-left: 30%;
}
.phone{
    display: grid;
    grid-template-columns: 150px auto;
    text-align: justify;
    margin-left: 30%;
}
@media only screen and (max-device-width: 500px) {

    .email{
        display: grid;
        grid-template-columns: 150px auto;
        text-align: justify;
        margin-left: 10%;
    }
    .phone{
        display: grid;
        grid-template-columns: 150px auto;
        text-align: justify;
        margin-left: 10%;
    }
    .container-2{
        height: 80%;
        width:90%;
        display: grid;
        padding: 10px;
    }

}

.email img{
    height: 80px;
}
.phone img{
    height: 80px;
}


.container-2 h2{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}
.box2 a{
    font-family: 'Roboto';
    font-size: 25px;
}

